<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Manager</title>

  <!-- Custom fonts for this template -->
  <link href="css/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/order.css">

</head>

<body>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <div class="row justify-content-between" style="width: 100%;">
            <div class="col-6">
              <nav class="nav nav-pills nav-justified" id="topNav">
                <a class="nav-link active" href="#">订单管理</a>
                <a class="nav-link " href="#">数据维护</a>
              </nav>
            </div>
          </div>

        </nav>
        <!-- Begin Page Content -->
        <div class="container-fluid" id="orderContainer">
          <div id="orderTable">
            <div class="d-flex justify-content-between align-content-center pb-2">
                <div class="btn-group form-inline" role="group">
                    <div class="form form-inline mr-2">
                        <select class="form-control form-control-sm" id="setYear" v-model="currentYear">
                            <option v-for="el of yearList" :key="el._id" :value="el.year">{{el.year}}</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary " id="orderAdd">新增</button>
                    <button type="button" class="btn btn-sm btn-secondary float-right"
                      @click="exportDataEvent">导出</button>
                    <div class="input-group input-group-sm ml-2">
                      <input type="text" class="form-control form-control-sm" v-model="filterName" placeholder="全表搜索">
                      <div class="input-group-append ">
                        <button class="btn btn-outline-secondary" type="button" @click="filterName=''">重置</button>
                      </div>
                    </div>
                  </div>
                  <div class="form form-inline ml-2">
                      <select class="form-control form-control-sm" id="setFontSize" v-model="fontSize">
                          <option value="mini">小号字体</option>
                        <option selected value="small">中号字体</option>
                        <option value="medium">大号字体</option>
                        <option value="large">超大号字体</option>
                      </select>
                  </div>

            </div>
           
            <div class="order-table-container">
              <vxe-table size="small" border ref="order"
              v-if="tableShow"
              :size="fontSize"
              highlight-current-row
              :context-menu="{body: {options: bodyMenus}}"
              @context-menu-click="contextMenuClickEvent"
              @current-change="currentChangeEvent"
              :row-style="rowStyle"
              auto-resize height="auto" resizable highlight-hover-row
                :tooltip-config="{enterable: true}" :span-method="spanMethod" :data="list">
                <vxe-table-column type="index" fixed='left' width="40"></vxe-table-column>
                <vxe-table-column field="date" fixed='left' width="120" title="日期">
                  <template v-slot="{ row }">
                    <span v-html="row.date"></span>
                  </template>
                </vxe-table-column>
                <vxe-table-column field="name" show-overflow width="180" title="品名">
                  <template v-slot="{ row }">
                    <span v-html="row.name"></span>
                  </template>
                </vxe-table-column>
                <vxe-table-column field="cas" width="150" title="CAS#">
                  <template v-slot="{ row }">
                    <span v-html="row.cas"></span>
                  </template>
                </vxe-table-column>
                <vxe-table-column field="num" width="120" title="数量"></vxe-table-column>
                <vxe-table-column field="income" width="120" title="进项"></vxe-table-column>
                <vxe-table-column field="payment" width="120" title="货款">
                    <template v-slot="{ row }">
                        <span v-html="row.currency"></span>
                        <span v-html="row.payment"></span>
                      </template>
                </vxe-table-column>
                <vxe-table-column field="exchange" width="120" title="购汇"></vxe-table-column>
                <vxe-table-column field="extra" width="120" title="杂费"></vxe-table-column>
                <vxe-table-column field="fare" width="120" title="运费"></vxe-table-column>
                <vxe-table-column field="tariff" width="120" title="关税"></vxe-table-column>
                <vxe-table-column field="inputTax" width="120" title="进项税"></vxe-table-column>
                <vxe-table-column field="outputTax" width="120" title="出项税"></vxe-table-column>
                <vxe-table-column field="bankCharges" width="120" title="银行手续费">
                </vxe-table-column>
                <vxe-table-column field="customer" width="120" title="采购商">
                  <template v-slot="{ row }">
                    <span v-html="row.customer"></span>
                  </template>
                </vxe-table-column>
                <vxe-table-column field="supplier" width="120" title="供应商">
                  <template v-slot="{ row }">
                    <span v-html="row.supplier"></span>
                  </template>
                </vxe-table-column>
                <vxe-table-column field="remark" show-overflow width="120" title="备注">
                  <template v-slot="{ row }">
                    <span v-html="row.remark"></span>
                  </template>
                </vxe-table-column>
                <vxe-table-column field="paid" width="80" title="是否付款"></vxe-table-column>
                <vxe-table-column field="abExpress" width="120" title="国外快递公司"></vxe-table-column>
                <vxe-table-column field="abExpressNum" width="120" title="国外快递单号"></vxe-table-column>
                <vxe-table-column field="express" width="120" title="国内快递公司"></vxe-table-column>
                <vxe-table-column field="expressNum" width="120" title="国内快递单号"></vxe-table-column>
                <vxe-table-column field="expressDate" width="120" title="快递日期">
                </vxe-table-column>
                <vxe-table-column title="操作" fixed='right' show-overflow width="160">
                  <template v-slot="{ row }">

                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button class="btn btn-sm btn-outline-primary" @click="editRowEvent(row)">编辑</button>
                      <button class="btn btn-sm btn-outline-danger" @click="delRowEvent(row)">删除</button>
                    </div>
                  </template>
                </vxe-table-column>
              </vxe-table>
            </div>
          </div>
        </div>
        <div class="container-fluid" id="maintain" style="display: none;">
          <div class="row">
            <div class="col-sm-2 col-xs-3">
              <div id="siderNav" class="list-group">
                <a class="list-group-item list-group-item-action active" href="#list-item-1">备份/恢复</a>
                <a class="list-group-item list-group-item-action" href="#list-item-1">客户</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">快递公司</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">供应商</a>
              </div>
            </div>
            <div class="col-sm-10 col-xs-9">
              <h3 class="h3 mb-2 text-gray-800" id="tableTitle">
                <span>数据维护</span>
                &nbsp;
                <button style="display: none;" type="button" class="btn btn-sm btn-primary" id="customerAdd">新增</button>
                <button style="display: none;" type="button" class="btn btn-sm btn-primary" id="expressAdd">新增</button>
                <button style="display: none;" type="button" class="btn btn-sm btn-primary" id="supplierAdd">新增</button>
              </h3>

              <div class="card shadow mb-4" id="backupContainer" style="max-height: 400px;overflow:auto;">
                <div class="card-body">
                  <p>备份和恢复本地数据库</p>
                  <button class="btn btn-sm btn-primary" id="backupHandle">手动备份</button>
                  <button class="btn btn-sm btn-success" id="recoverHandle">手动恢复</button>
                </div>
                <div class="card-body">
                  <p>服务器数据同步 <span class="text-info" id="serverDbInfo"></span> </p>
                  <button class="btn btn-sm btn-primary" id="uploadDb">上传数据库</button>
                  <button class="btn btn-sm btn-success" id="downloadDb">下载数据库</button>
                </div>
                <div class="card-body">
                    <p>本地自动备份</p>
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="autoBackupTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>自动备份时间</th>
                          <th width="120">操作</th>
                        </tr>
                      </thead>
                      <tbody>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>


              <div class="card shadow mb-4" id="tableContainer" style="display: none;">
                <div class="card-body" style="max-height: 400px;overflow:auto;">
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>名称</th>
                          <th>备注</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->


  <div class="modal fade" id="customerAddDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">新增客户</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="customerName" class="col-form-label">客户名称:</label>
              <input type="text" name="customerName" autocomplete="off" class="form-control" id="customerName">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">备注:</label>
              <textarea class="form-control" name="customerRemark" id="customerRemark"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" id="customerSave">保存</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 新增快递公司 -->
  <div class="modal fade" id="expressAddDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">新增快递</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="customerName" class="col-form-label">快递名称:</label>
              <input type="text" name="expressName" autocomplete="off" class="form-control" id="expressName">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">备注:</label>
              <textarea class="form-control" name="expressRemark" id="expressRemark"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" id="expressSave">保存</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 新增供应商 -->
  <div class="modal fade" id="supplierAddDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">新增供应商</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="customerName" class="col-form-label">供应商名称:</label>
              <input type="text" name="supplierName" autocomplete="off" class="form-control" id="supplierName">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">备注:</label>
              <textarea class="form-control" name="supplierRemark" id="supplierRemark"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" id="supplierSave">保存</button>
        </div>
      </div>
    </div>
  </div>



  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <script type="text/html" id="orderForm">

  </script>

  <!-- Bootstrap core JavaScript-->
  <script src="js/jquery.min.js"></script>
  <script>
    if (typeof module === 'object') {
      window.jQuery = window.$ = module.exports;
    };
  </script>
  <script src="js/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="../assets/js/layer.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
  <script src="./order.js"></script>

</body>

</html>